@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.favourites {
  @include page-content(60px 120px 120px 120px, 40px);

  h2 {
    font-size: 36px;
    color: $color-secondary;
    margin-bottom: 20px;
  }

  &__empty {
    text-align: center;
    padding: 80px 20px;
    
    p {
      font-size: 24px;
      color: $color-primary;
      opacity: 0.8;
    }

    button {
      width: 210px;
      height: 56px;
      margin: 40px 0;
      @include button-style();
    }
  }
}
