@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.favourites {
  @include page-content(60px 120px 120px 120px, 20px 40px);

  h1 {
    font-size: 50px;
    text-align: center;
    color: $color-primary;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 36px;
    color: $color-secondary;
    margin-bottom: 20px;
  }

  &__title {
    @include title-logo();
  }

  &__empty {
    text-align: center;
    color: $color-text;

    button {
      width: 210px;
      height: 56px;
      margin: 40px 0;
      @include button-style();
    }
  }
}
