@use "./variables.scss" as *;

@mixin hover-scale($scale: 1.08) {
  &:hover {
    transform: scale($scale);
  }
}

@mixin hover-scale-opacity($scale: 1.1, $opacity: 0.8) {
  &:hover {
    transform: scale($scale);
    opacity: $opacity;
  }
}

@mixin icon-style($size: 28px) {
  width: $size;
  height: $size;
  cursor: pointer;
  transition: all 0.5s ease;
  filter: brightness(0) saturate(100%) invert(100%) drop-shadow(0 0 0.5px white)
    drop-shadow(0 0 0.5px white);

  @include hover-scale-opacity(1.1, 0.8);
}

@mixin plain-text-style {
  font-size: 18px;
  font-weight: 600;
}

@mixin page-content($margin: 60px 120px 120px 120px, $padding-side: 100px, $opacity: 0.7) {
  padding-right: $padding-side;
  padding-left: $padding-side;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: $margin;
  background: bg-white-opacity($opacity);
  border-radius: $border-radius;
}

@mixin button-style {
  flex: 1;
  padding: 18px 20px;
  border: 1px solid transparent;
  border-radius: $border-radius-input;
  font-size: 18px;
  font-weight: 600;
  transition: $transition;
  cursor: pointer;

  background: $color-primary;
  color: white;

  &:hover {
    background: $color-primary-light;
    border: 1px solid $color-primary;
  }
}

@mixin input-style {
  @include plain-text-style();
  flex: 1;
  min-width: 200px;
  padding: 12px 16px;
  height: 56px;
  border-radius: $border-radius-input;
  border: $border;

  &:focus,
  &:hover {
    opacity: 0.9;
    outline: none;
  }
}

@mixin filter-style {
  @include plain-text-style();
  background: $color-primary-light;
  padding: 12px 18px;
  border: $border;
  height: 56px;
  width: 180px;
  border-radius: $border-radius-input;
  color: $color-text;
  cursor: pointer;
}

@mixin hover($brightness: 0.9) {
  &:hover {
    filter: brightness($brightness);
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.12);
  }
}

@mixin link-style($color: $color-primary-dark, $hover-color: black) {
  color: $color;
  text-decoration: underline;
  transition: $transition;

  &:hover {
    color: $hover-color;
    font-weight: 900;
  }
}

@mixin page-title {
  font-size: 50px;
  text-align: center;
  color: $color-primary;
  margin-bottom: 16px;
}

@mixin title-logo($size: 46px) {
  text-align: center;
  left: 16px;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 8px;
    width: $size;
    height: $size;
    background: url("../../public/icons/logo.svg") no-repeat center;
    background-size: contain;
    margin: 0 12px;
  }
}
