@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.auth {
  @include page-content-centered($padding-side: 40px);

  max-width: 540px;
  color: $color-primary;
  font-weight: 600;
  font-size: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  &__input {
    @include input-style();
    margin-bottom: 20px;
    border: 1px solid $color-primary;
    outline: 1px solid transparent;
    outline-offset: 0;

    &_error {
      border: 2px solid $color-error;
    }

    &_success {
      border: 2px solid $color-success;
    }
  }

  &__error {
    width: auto;
    color: $color-error;
    background: #ffebee;
    border-radius: $border-radius-input;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  &__button {
    @include button-style();
    margin-top: 10px;

    &:disabled {
      background: $color-primary;
      cursor: not-allowed;
    }
  }

  &__footer {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;

    a {
      @include link-style();
    }
  }

  // Responsive styles
  @media (max-width: $desktop) {
    max-width: 500px;
    font-size: 19px;

    &__form {
      gap: 9px;
      padding: 9px;
    }

    &__input {
      margin-bottom: 18px;
    }

    &__error {
      margin-bottom: 18px;
      padding: 9px;
      font-size: 17px;
    }

    &__button {
      margin-top: 9px;
    }

    &__footer {
      margin-top: 18px;
      font-size: 17px;
    }
  }

  @media (max-width: $tablet) {
    max-width: min(90%, 440px);
    font-size: 18px;

    &__form {
      gap: 8px;
      padding: 8px;
    }

    &__input {
      margin-bottom: 16px;
    }

    &__error {
      margin-bottom: 16px;
      padding: 8px;
      font-size: 16px;
    }

    &__button {
      margin-top: 8px;
    }

    &__footer {
      margin-top: 16px;
      font-size: 16px;
    }
  }

  @media (max-width: $mobile) {
    font-size: 16px;

    &__form {
      gap: 6px;
      padding: 6px;
    }

    &__input {
      margin-bottom: 14px;
    }

    &__error {
      margin-bottom: 14px;
      padding: 7px;
      font-size: 15px;
    }

    &__button {
      margin-top: 6px;
    }

    &__footer {
      margin-top: 14px;
      font-size: 15px;
    }
  }
}
