@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(131, 122, 122, 0.55);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

  &__container {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  &__navLink {
    color: $color-text;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    padding: 8px 12px;
    border-radius: $border-radius;
    opacity: 0.85;

    @include hover-scale-opacity(1.1, 1);

    &.active {
      opacity: 1;
      scale: 1.25;
    }
  }

  &__logo {
    @include hover-scale(1.08);
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color;
  }

  &__icons {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color drop-shadow(0 0 0.5px white)
      drop-shadow(0 0 0.5px white);

    @include hover-scale-opacity(1.1, 0.8);

    &Badge {
      position: absolute;
      color: white;
      font-size: 24px;
      font-weight: 600;
      padding: px;
      min-width: 18px;
      text-align: center;
    }
  }

  &__userWrapper {
    position: relative;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: -16px;
    margin-top: 20px;
    padding: 15px 20px;
    background: white;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
    min-width: 150px;

    &_open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__userName {
    display: block;
    color: $color-primary;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__logoutButton {
    width: 100%;
    padding: 8px 16px;
    background: $color-primary;
    color: white;
    border: none;
    border-radius: $border-radius;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background: $color-primary-dark;
    }
  }
}
