@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(131, 122, 122, 0.55);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

  &__container {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  &__navLink {
    color: $color-text;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    padding: 8px 12px;
    border-radius: $border-radius;
    opacity: 0.85;

    @include hover-scale-opacity(1.1, 1);

    &.active {
      opacity: 1;
      scale: 1.25;
    }

    &Badge {
      position: absolute;
      top: -8px;
      right: -12px;
      background: $color-primary;
      color: white;
      font-size: 11px;
      padding: 2px 6px;
      border-radius: 10px;
      min-width: 18px;
      text-align: center;
    }
  }

  &__logo {
    @include hover-scale(1.08);
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color;
  }

  &__icons {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color drop-shadow(0 0 0.5px white)
      drop-shadow(0 0 0.5px white);

    @include hover-scale-opacity(1.1, 0.8);
  }
}
