@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(131, 122, 122, 0.414);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-text;
  }

  &__container {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
  }

  &__link {
    color: $color-text;
    font-weight: 500;
    transition: $transition;
    position: relative;

    @include hover-scale(1.08);

    &Badge {
      position: absolute;
      top: -8px;
      right: -12px;
      background: $color-primary;
      color: white;
      font-size: 11px;
      padding: 2px 6px;
      border-radius: 10px;
      min-width: 18px;
      text-align: center;
    }
  }

  &__logo {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color;

    @include hover-scale(1.08);
  }

  &__actions {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: $transition;
    filter: $icon-color drop-shadow(0 0 0.5px white)
      drop-shadow(0 0 0.5px white);

    @include hover-scale-opacity(1.1, 0.8);
  }
}
