@use "styles/variables.scss" as *;

.icon {
  color: inherit;
  justify-content: center;
  align-items: center;

  &--color {
    &-primary {
      color: $color-primary;
    }

    &-secondary {
      color: $color-secondary;
    }

    &-green {
      color: $color-success;
    }

    &-white {
      color: white;
    }
  }
}
