@use "styles/mixins.scss" as *;
@use "styles/variables.scss" as *;

.filters {
  &__row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__search {
    @include input-style();
  }

  &__select {
    @include plain-text-style();
    padding: 12px 16px;
    border: none;
    border-radius: $border-radius;
    height: 46px;
    width: 200px;
    background: bg-beige-opacity(0.8);
    color: $color-text;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.9;
      outline: none;
    }

    option {
      background: $color-bg-beige;
      color: $color-primary-dark;
      padding: 10px;
    }
  }

  &__clear {
    @include plain-text-style();
    padding: 12px 24px;
    height: 46px;
    width: 150px;
    background: $color-bg-beige-dark;
    color: $color-text;
    border: none;
    border-radius: $border-radius;

    &:hover {
      background: bg-beige-opacity(0.9);
      color: $color-text;
    }
  }
}
