@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.home {
  width: 100%;
  margin: 0 auto;
  padding: 300px 200px;
  background-color: $color-bg-secondary;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $color-secondary;
  }
}
