@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.home {
  margin: 0;
  position: relative;

  &__content {
    display: grid;
    height: 600px;
    padding: 0 100px;
    margin: 40px 0 140px 0;
    grid-template-columns: 50% 40%;
    color: $color-text;
    gap: 100px;

    &__section {
      margin-top: 40px;
      justify-content: space-between;
      color: $color-primary-dark;

      p {
        font-size: 20px;
        font-weight: 400;
      }

      &_top,
      &_bottom {
        background: bg-opacity(0.6);
        border-radius: $border-radius;
        padding: 20px;
        text-align: left;
        display: block;
        font-size: 40px;
        font-weight: 500;
        color: $color-text;
      }

      &_bottom {
        justify-self: end;
        transform: translateX(80px);
        margin-top: 100px;
      }
    }

    &__carousel {
      margin-top: 40px;
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &__top {
    &__wrapper {
      background: $color-bg-beige;
      overflow: hidden;
    }

    &__content {
      margin: 40px 80px 80px 80px;
      padding: 20px 40px 40px 40px;
      background: bg-white-opacity(0.7);
      border-radius: $border-radius;
      font-size: 28px;
      font-weight: 700;
      color: $color-primary-dark;

      &__title {
        @include title-logo();
        text-align: left;
        color: $color-primary-dark;
      }
    }

    &__products {
      display: flex;
      margin-bottom: 80px;
      gap: 20px;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;

      & > * {
        flex: 0 0 calc(20% - 16px);
        scroll-snap-align: start;
        min-width: 100px;
        margin: 30px 0;
      }

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 4px;

        &:hover {
          background: $color-primary-light;
        }
      }
    }

    &__categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 35px;
      margin-top: 30px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      img {
        width: 100%;
        height: auto;
        min-height: 460px;
        object-fit: cover;
        border-radius: $border-radius;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }
      }

      p {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  &__sections {
    margin: 150px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    div {
      padding: 30px 40px;
      text-align: center;
      color: $color-text;
      border-radius: $border-radius;
      background: bg-primary-opacity(0.9);

      a {
        display: block;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;

        &:hover {
          filter: brightness(0.9);
        }
      }

      p {
        padding: 5px 0;
        font-size: 18px;
        line-height: 1.6;
        text-align: justify;
      }
    }
  }
}
