@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.forCustomers {
  @include page-content();
  text-align: justify;
  color: $color-primary;
  font-size: 22px;
  font-weight: 600;

  h2 {
    font-size: 36px;
    color: $color-primary-dark;
    margin-bottom: 20px;
  }

  &__section {
    border-radius: $border-radius;
    list-style: none;
    line-height: 1.6;
    margin: 25px auto;
    padding: 25px 50px;
    background: bg-white-opacity(0.7);
    text-align: justify;
    margin-bottom: 40px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 15px;
      color: $color-primary-dark;
      text-align: center;
    }

    p,
    ul {
      padding: 0 20px;
      font-size: 20px;
      line-height: 1.6;
      color: $color-primary;
    }

    ul {
      list-style-type: disc;
      margin: 20px 40px;

      li {
        margin-bottom: 8px;
      }
    }
  }

  &__support {
    background: bg-white-opacity(0.9);
    padding: 20px;
    border-radius: $border-radius;
  }

  &__footer {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: $color-primary-dark;
  }
}
